<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="utf-8"> 
		<title>MEC Project</title> 
		<meta name="description" content=""> 
		<meta name="author" content="JM Fluxà"> 
 
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--> 
 
		<!-- Le styles --> 
		<link href="/css/bootstrap-1.1.1.css" rel="stylesheet"> 
 
		<!-- Le fav and touch icons --> 
		<link rel="shortcut icon" href="/image/favicon.ico"> 
		<link rel="apple-touch-icon" href="/image/apple-touch-icon.png"> 
		<link rel="apple-touch-icon" sizes="72x72" href="/image/apple-touch-icon-72x72.png"> 
		<link rel="apple-touch-icon" sizes="114x114" href="/image/apple-touch-icon-114x114.png"> 
	</head> 
	
	<body style='padding-top: 40px;'> 
		
		<div class="topbar"> 
			<div class="fill"> 
				<div class="container"> 
					<h3><a href="../">MEC Project Admin</a></h3> 
					<ul>
						<li><a href="../matrix/">Matrix</a></li>
						<li><a href="../professor/">Professors</a></li>
						<li class="active"><a href="../links/">Links</a></li>
						<li><a href="../revisions/">Revisions</a></li> 
					</ul> 
				</div> 
			</div> 
		</div> 
		
		<div class="container"> 
			<div class="row">
				<div class="span5">
					<h2>Add</h2>
					<p>
						<form action="/admin/links/add/" method="POST" class="form-stacked">
							
							<div class="clearfix"> 
								<label for="professor">Professor</label> 
								<div class="input"> 
									<select name="professor" id="professor">
										{%for professor in professors %}
										<option value="{{professor.key}}">{{professor.name}}</option>
										{% endfor %}
									</select> 
								</div> 
							</div><!-- /clearfix -->
							
							<div class="clearfix"> 
								<label for="matrix">Matrix</label> 
								<div class="input"> 
									<select name="matrix" id="matrix">
										{%for matrix in matrixes %}
										<option value="{{matrix.key}}">{{matrix.name}}</option>
										{% endfor %}
									</select> 
								</div> 
							</div><!-- /clearfix -->
							
							<div class="actions"> 
								<button type="submit" class="btn primary">Create Link</button>
							</div>
						</form>
					</p>
				</div>
			
				<div class="span10 columns offset1">
					<h2>List</h2>
					<p>
						<table>
							<thead>
								<tr>
									<th>Professor</th>
									<th>Matrix</th>
									<th>Link</th>
								</tr>
							</thead>
							<tbody>
								{%for link in links %}
								<tr>
									<td>{{link.professor.name}}</td>
									<td>{{link.matrix.name}}</td>
									<td>
										<a href="/viewer/app/?key={{link.key}}" onclick="copyToClipboard('/viewer/app/?key={{link.key}}')">Copy Link</a>
									</td>
									<td>
										<a href="/admin/links/delete/?key={{link.key}}" onclick="return confirm('Are you sure?')">Delete</a>
									</td>
								</tr>
								{% endfor %}
							<tbody>
						</table>
					</p>
				</div
			</div>
			
		
			
		</div> <!-- /container --> 
		
	</body> 
</html>