<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta charset="utf-8"> 
		<title>MEC Project</title> 
		<meta name="description" content=""> 
		<meta name="author" content="JM Fluxà"> 
 
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--> 
 
		<!-- Le styles --> 
		<link href="/css/bootstrap.css" rel="stylesheet"> 
 
		<!-- Le fav and touch icons --> 
		<link rel="shortcut icon" href="/image/favicon.ico"> 
		<link rel="apple-touch-icon" href="/image/apple-touch-icon.png"> 
		<link rel="apple-touch-icon" sizes="72x72" href="/image/apple-touch-icon-72x72.png"> 
		<link rel="apple-touch-icon" sizes="114x114" href="/image/apple-touch-icon-114x114.png"> 
	</head> 
	
	<body style='padding-top: 40px;'> 
		
		<div class="topbar"> 
			<div class="fill"> 
				<div class="container"> 
					<h3><a href="../">MCE Project Admin</a></h3> 
					<ul>
						<li><a href="../matrix/">Matrix</a></li>
						<li><a href="../professor/">Experts</a></li>
						<li><a href="../links/">Links</a></li>
						<li class="active"><a href="../revisions/">Revisions</a></li> 
					</ul> 
				</div> 
			</div> 
		</div> 
		
		<div class="container"> 
			<div class="row">
				<div class="span14 columns">
					<h2>List</h2>
					<p>
						<table>
							<thead>
								<tr>
									<th>Professor</th>
									<th>Matrix</th>
									<th>Data</th>
									<th>Last Modified</th>
								</tr>
							</thead>
							<tbody>
								{%for revision in revisions %}
								<tr>
									<td>{{revision.link.professor.name}}</td>
									<td>{{revision.link.matrix.name}}</td>
									<td>
										<a href="/viewer/app/?revision_key={{revision.key}}" onclick="copyToClipboard('/viewer/app/?revision_key={{revision.key}}')"><span>Link</span></a>
										<a href="/viewer/raw/?key={{revision.key}}&kind=rev"><span>Raw</span></a>
									</td>
									<td>{{revision.last_modified}}</td>
									<td>
										<a href="/admin/revisions/delete/?key={{revision.key}}" onclick="return confirm('Are you sure?')">Delete</a>
									</td>
								</tr>
								{% endfor %}
							<tbody>
						</table>
					</p>
				</div
			</div>
			
		</div> <!-- /container --> 
		
	</body> 
</html>