.hero-unit-pic {
  background-image: url(http://farm6.static.flickr.com/5300/5393847474_f7ecb650d5_b.jpg);
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
