<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Proyecto MCE - Home</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/frodo.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Project MCE</a></h3>
          <ul>
			<li class="active"><a href="#">Home</a></li>
            <li><a href="about/">About</a></li>
            <li><a href="theproject/">The Project</a></li>
            <li><a href="contact/">Contact</a></li>
            <li class="matrix"><a href="matrix/">Matrix</a></li>

            <li><a</li>

          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit frodo-pic">
        <h1>Mapping World Ecosystems</h1>
        <p>Our website aims to develop a method to map world ecosystems as interaction networks, using field data, numeric modeling and collaborative work. Think of this site as an online Delphi panel for ecological network construction, or an attempt to apply crowd sourcing to build (ecological) networks. This is a beta version.</p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Welcome Dr. Zoidberg</h2>
          <p>
          Use your email to login the site. If you have any problems <a href="contact/">contact me</a>
          <form action="/login/" method="POST" enctype="multipart/form-data" class="form-stacked"> 
				<div class="clearfix"> 
					<label for="name">Email</label> 
					<input name="login" type="text" id="login"/> 
				</div> 
				<div class="actions"> 
					<button type="submit" class="btn primary">Login</button> 
				</div> 
			  </form>
		  </p>
        </div>
        <div class="span5">
          <h2>Donations</h2>
           <p>This project is a first version. We are currently accepting donations to further improve functionality, data handling and web hosting.</p>
          <p><a class="btn" href="http://mecproyecto.appspot.com/web/contact/">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Instructions</h2>
          <p>To participate, please register and follow these simple instructions. The site can be used to compile, validate and model ecological networks.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      <footer>
        <p>&copy; Bounce 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
