
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Proyecto MCE - Matrix</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap-1.1.1.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Project MCE</a></h3>
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="about/">About</a></li>
            <li><a href="../theproject/">The Project</a></li>
            <li><a href="../contact/">Contact</a></li>
            <li class="active"><a href="#">Matrix</a></li>

          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>About</h1></br>
        <p>This project was developed by Antonio Tironi (Ecological Modeling Laboratory, Universidad de Chile), Juan Claudio Lopez and Juan Manuel Fluxa (Bounce). The development of the site was funded by a CONICYT grant nº 24100208. For further inquiries, please <a href="contact/">contact me</a></p>
        
      </div>
      <!-- Example row of columns -->
          <footer>
        <p>&copy; Bounce 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
