<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Proyecto MCE - The Project</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Project MCE</a></h3>
          <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../about/">About</a></li>
            <li class="active"><a href="#">The Project</a></li>
            <li><a href="../contact/">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>The Project</h1></br>
        <p>This project is part of a PhD thesis about stability of shallow lake foodwebs. This site was developed as a new method to validate reconstructed/compiled ecological networks. The networks currently available were reconstructed from field and bibliographic data, and our idea is to validate them through expert knowledge. If you are an expert in shallow lake ecosystems, or aquatic foodwebs, please take a minute, register and give it a try to participate in this collaborative modeling effort.</p>
        <p>Each link and node has a validation button, and each revision of the food web is saved to statistical/validation analysis. </p>
        <p>This is a first version, including only ecological networks. We are currently looking for funding in order to expand this to add new functions (like adding nodes or submitting your own network)</p>
        <p>This project is a starting point, a proof of concept with huge potential in the project. Further development of the project could include all kind of networks; add online stability analysis or rank species importance for conservation measures.</p>
      </div>
      <!-- Example row of columns -->
          <footer>
        <p>&copy; Bounce 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
