html
{
	background-color: #FFFFFF;
	background-image: url("../image/fondo.jpg");
	background-repeat: repeat;
	background-position: center bottom;
	background-attachment: scroll;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
	margin-bottom: 36px;
}

#n1, #n22
{
	width: 0.01px;
	margin-bottom: -21px;
	position: relative;
	margin-right: -960px;
	margin-top: -26px;
	left: 30px;
}

#n2
{
	z-index: 3;
	width: 960px;
	position: relative;
	margin-right: -960px;
	margin-top: 19px;
}

#n3
{
	z-index: 4;
	width: 920px;
	border-width: 20px;
	border-style: solid;
	border-color: #ECEAE4;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -960px;
}

#n4
{
	z-index: 5;
	width: 935px;
	margin-bottom: -10px;
	position: relative;
	margin-right: -935px;
	margin-top: -5px;
	left: -5px;
}

._n4.f3s_top, ._n25.f3s_top
{
	width: 935px;
	background-image: url("../image/master_U1011_sprite.png");
	overflow: hidden;
	height: 9px;
	background-position: 0px 0px;
}

._n4.f3s_mid, ._n25.f3s_mid
{
	background-image: url("../image/master_U1011_sprite.png");
	overflow: visible;
	background-position: -935px 0px;
	width: 935px;
	min-height: 471px;
}

._n4.f3s_bot, ._n25.f3s_bot
{
	width: 935px;
	background-image: url("../image/master_U1011_sprite.png");
	overflow: visible;
	height: 7px;
	background-position: -1870px 0px;
}

#n5, #n26
{
	width: 929px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -929px;
	margin-top: -8px;
	left: 1px;
}

#n9, #n30
{
	width: 0.01px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -929px;
	margin-top: -8px;
	left: 1px;
}

#n10
{
	z-index: 9;
	width: 960px;
	height: 518px;
	margin-bottom: -37px;
	position: relative;
	margin-right: -960px;
	margin-top: 4px;
	left: -25px;
}

#n11
{
	z-index: 10;
	width: 283px;
	position: relative;
	margin-right: -283px;
	margin-top: 52px;
	left: 70px;
}

#n13
{
	z-index: 12;
	width: 238px;
	position: relative;
	margin-right: -238px;
	left: 683px;
}

#n14
{
	z-index: 13;
	width: 236px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: #F6F5F1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -238px;
}

#n15
{
	z-index: 14;
	width: 225px;
	border-style: none;
	background-color: #FDFCFA;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin-right: -225px;
	margin-top: 6px;
	left: 5px;
}

#n15_position_content, #n36_position_content
{
	margin-top: 34px;
	margin-bottom: -1px;
}

#n16
{
	z-index: 15;
	width: 236px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFED;
	background-color: #FBFAF8;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 11px;
	margin-left: -6px;
	position: relative;
}

#n17
{
	z-index: 16;
	width: 237px;
	position: relative;
	margin-right: -237px;
	margin-top: 10px;
	left: -1px;
}

#n19, #n40
{
	text-align: center;
	font-style: italic;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#n21
{
	z-index: 20;
	width: 224px;
	height: 112px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFED;
	background-color: #FAF9F7;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-top: 344px;
	position: relative;
}

#n23
{
	z-index: 22;
	width: 960px;
	position: relative;
	margin-right: -960px;
	margin-top: 19px;
}

#n24
{
	z-index: 23;
	width: 920px;
	border-width: 20px;
	border-style: solid;
	border-color: #ECEAE4;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -960px;
}

#n25
{
	z-index: 24;
	width: 935px;
	margin-bottom: -10px;
	position: relative;
	margin-right: -935px;
	margin-top: -5px;
	left: -5px;
}

#n31
{
	z-index: 28;
	width: 960px;
	height: 518px;
	margin-bottom: -37px;
	position: relative;
	margin-right: -960px;
	margin-top: 4px;
	left: -25px;
}

#n32
{
	z-index: 29;
	width: 283px;
	position: relative;
	margin-right: -283px;
	margin-top: 52px;
	left: 70px;
}

#n34
{
	z-index: 31;
	width: 238px;
	position: relative;
	margin-right: -238px;
	left: 683px;
}

#n35
{
	z-index: 32;
	width: 236px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: #F6F5F1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -238px;
}

#n36
{
	z-index: 33;
	width: 225px;
	border-style: none;
	background-color: #FDFCFA;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin-right: -225px;
	margin-top: 6px;
	left: 5px;
}

#n37
{
	z-index: 34;
	width: 236px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFED;
	background-color: #FBFAF8;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 11px;
	margin-left: -6px;
	position: relative;
}

#n38
{
	z-index: 35;
	width: 237px;
	position: relative;
	margin-right: -237px;
	margin-top: 10px;
	left: -1px;
}

#n42
{
	z-index: 39;
	width: 224px;
	height: 112px;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFED;
	background-color: #FAF9F7;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-top: 344px;
	position: relative;
}

#n43
{
	z-index: 40;
	width: 119px;
	position: relative;
	margin-right: -119px;
	margin-top: 370px;
	left: 739px;
}

#n44
{
	z-index: 41;
	width: 119px;
	border-style: none;
	background-color: transparent;
	background-image: url("../image/master_U1072_fr.png");
	background-repeat: no-repeat;
	background-position: left top;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -119px;
}

#n44:hover
{
	background-image: url("../image/master_U1072_r_fr.png");
	background-repeat: no-repeat;
	background-position: left top;
}

#n45
{
	z-index: 42;
	width: 119px;
	position: relative;
	margin-right: -119px;
	margin-top: 10px;
	left: 5px;
}

#n47
{
	text-align: center;
	font-style: italic;
	color: #39393A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#n49
{
	z-index: 46;
	width: 230px;
	position: relative;
	margin-right: -230px;
	margin-top: 181px;
	left: 687px;
}

#n50
{
	z-index: 47;
	width: 230px;
	position: relative;
	margin-right: -230px;
}

#n51
{
	width: 229px;
	position: relative;
}

#n52
{
	width: 229px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-right: -229px;
	position: relative;
}

#n52:hover, #n67:hover, #n82:hover, #n97:hover
{
	background-color: #F6F5F1;
}

#n52:active, #n67:active, #n82:active, #n97:active
{
	background-color: #E9E7E0;
}

#n52.MuseMenuActive
{
	background-color: transparent;
}

#n53, #n68, #n83, #n98
{
	width: 0.01px;
	margin-right: -229px;
	position: relative;
}

#n54
{
	z-index: 51;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: visible;
}

#n54_clip, #n58_clip, #n62_clip, #n69_clip, #n73_clip, #n77_clip, #n84_clip, #n88_clip, #n92_clip, #n99_clip, #n103_clip, #n107_clip
{
	overflow: hidden;
	width: 229px;
	height: 42px;
	vertical-align: top;
}

#n54_img, #n58_img, #n62_img, #n69_img, #n73_img, #n77_img, #n84_img, #n88_img, #n92_img, #n99_img, #n103_img, #n107_img
{
	display: block;
}

#n58
{
	z-index: 55;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n52:hover #n58, #n52.MuseMenuActive #n62, #n67:hover #n73, #n67.MuseMenuActive #n77, #n82:hover #n88, #n82.MuseMenuActive #n92, #n97:hover #n103, #n97.MuseMenuActive #n107
{
	visibility: visible;
}

#n52:hover #n54, #n52.MuseMenuActive #n54, #n67:hover #n69, #n67.MuseMenuActive #n69, #n82:hover #n84, #n82.MuseMenuActive #n84, #n97:hover #n99, #n97.MuseMenuActive #n99
{
	visibility: hidden;
}

#n62
{
	z-index: 59;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n66, #n81, #n96
{
	width: 230px;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-top: 1px;
	position: relative;
}

#n67, #n82, #n97
{
	width: 229px;
	background-image: none;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-right: -229px;
	position: relative;
}

#n67.MuseMenuActive, #n82.MuseMenuActive, #n97.MuseMenuActive
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#n69
{
	z-index: 66;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: visible;
}

#n73
{
	z-index: 70;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n77
{
	z-index: 74;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n84
{
	z-index: 81;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: visible;
}

#n88
{
	z-index: 85;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n92
{
	z-index: 89;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n99
{
	z-index: 96;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: visible;
}

#n103
{
	z-index: 100;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n107
{
	z-index: 104;
	position: relative;
	width: 229px;
	margin-right: -229px;
	visibility: hidden;
}

#n111
{
	z-index: 108;
	width: 149px;
	position: relative;
	margin-right: -149px;
	left: 40px;
}

#n111_img
{
	vertical-align: top;
}

#n113
{
	z-index: 110;
	width: 194px;
	position: relative;
	margin-right: -194px;
	margin-top: 114px;
	left: 705px;
}

#n115
{
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	color: #7C786A;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#n117
{
	width: 0.01px;
	position: relative;
	margin-right: -335px;
	margin-top: 62px;
	left: 58px;
}

#n118
{
	z-index: 115;
	width: 283px;
	position: relative;
	margin-right: -283px;
	margin-top: 9px;
	left: 28px;
}

#n120
{
	z-index: 117;
	width: 335px;
	position: relative;
	margin-right: -335px;
}

#n121
{
	z-index: 118;
	width: 335px;
	min-height: 60px;
	position: relative;
	margin-right: -335px;
}

#n123
{
	font-size: 48px;
	text-align: left;
	color: #444444;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

